.App {
  text-align: center;
}

.todo_form{
  display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.labels{
  padding: 10px;
  text-align: left;
}
.add_btn{
  width: fit-content;
  margin-top: 30px;
  margin-left: auto;
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
}
.inputs{
  height: 30px;
  margin-bottom: 10px;
}
.labels_parent{
  display: flex;
}
.headings_parent{
  display: flex;
}
.labels_map{
  margin-left: 22px;
    margin-right: 22px;
}
.headings_map{
  margin-left: 22px;
    margin-right: 22px;
}
.map_parent{
  width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}